* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #4fbdba;
}
.login-with-google-btn {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
}
.login-with-google-btn:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #f1356d;
  color: whitesmoke;
}

.loginPage {
  height: 250px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #5800ff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.btn {
  font-size: 30px;
  display: inline-block;
  height: 70px;
  width: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid black;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  cursor: pointer;
  margin-top: 15px;
}

.btn:hover {
  transform: scale(1.2);
  background-color: #f1356d;
  color: whitesmoke;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.Chat {
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.msgs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 500px;
  height: 70vh;
  overflow-y: scroll;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #ccd1e4;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.msg {
  display: flex;
  padding: 20px 20px 0 10px;
  margin: 20px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
}

.p {
  font-size: 1.2rem;
  padding: 5px;
  margin-top: -20px;
}

.sent {
  background-color: #395dff;
  color: white;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 10px;
  text-align: end;
  float: right;
}

.received {
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-top-left-radius: 1000px;
  float: left;
}
.img {
  border-radius: 50%;
  height: 28px;
  margin-top: -20px;
  border: 2px solid black;
}

.sendMsg {
  width: 500px;
  border-radius: 15px;
  border: 3px solid black;
  height: 5.1vh;
  margin-top: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.sendMsg input {
  width: 410px;
  height: 4.2vh;
  border: 0;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
}

.sendMsg input:focus {
  outline: none;
}

.sendMsg button {
  width: 80px;
  border-radius: 15px;
  height: 4.2vh;
  border: 0;
  margin-left: 3px;
  cursor: pointer;
}

.btn-sec:hover {
  background-color: #f1356d;
  color: whitesmoke;
}

.loginPage {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.loginPage:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media screen and (max-width: 580px) {
  .loginPage {
    width: 350px;
  }
  .loginPage:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

@media screen and (max-width: 530px) {
  .Chat {
    width: 400px;
    margin: auto;
    overflow: hidden;
  }

  .msgs {
    width: 395px;
  }

  .form {
    width: 395px;
  }

  .form form input {
    width: 300px;
  }

  .sendMsg {
    width: 394px;
  }
}

@media screen and (max-width: 431px) {
  .loginPage {
    width: 250px;
  }
  .loginPage:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .Chat {
    width: 350px;
    height: 500px;
    margin: auto;
    overflow: hidden;
  }
  .msgs {
    width: 350px;
  }

  .form {
    width: 345px;
  }

  .form form input {
    width: 255px;
  }

  .sendMsg {
    width: 345px;
  }
}
